<%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg', role: 'button', id: 'new-article-btn' %>

<% @articles.each do |article| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-truncate">
        <%= link_to article.title, article_path(article) %>
      </h5>
      <p class="card-text text-truncate"><%= article.body %></p>
    </div>
  </div>
<% end %>